:root {
  --background-color: rgb(13, 17, 23);
  --secondary-color: rgb(22, 27, 34);

  --text-color: rgb(240, 246, 252);
  --border-color: rgb(48, 54, 61); 
}

html, body {
  background-color: var(--background-color);
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.content {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 10px;
}
